.workout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  /* background: #f9f9f9; */
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.workout-form input,
.workout-form textarea,
.workout-form button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.workout-form button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.workout-form button:hover {
  background: greenyellow;
}

.workout-table-container {
  margin: 40px auto;
  max-width: 100%;
  overflow-x: auto;
  padding: 20px;
}

.workout-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.workout-table th,
.workout-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.workout-table th {
  background: #0070f3;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.workout-table tr:hover {
  background: #f1f1f1;
}
.trainingMange{
    /* background: radial-gradient(circle, #a2fc9a 0%, #ffffff 100%) !important; */
    background-image: url('../../public/Assets/blur.png');
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    padding: 30px 5%;
}