.hero{
    padding: 10px 5%;
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    /* background: radial-gradient(circle, greenyellow 0%, #aaffaa 35%, white 100%); */
    background-image: url('../../../public/Assets/blur.png');
}
.hero h2{
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 500px;
}
.hero p{
    width: 30%;
    color: gray;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero img{
    position: absolute;
    left: 50%;
    height: 100%;
}
.hero button{
    padding: 15px;
    border: none;
    outline: none;
    font-weight: bold;
    color: white;
    width: 150px;
    background-color: greenyellow;
    transition: .3s;
}
.hero button:hover{
    background-color:black;
}
@media (max-width: 500px){
    .hero h2{
        width: 100%;
    }
    .hero p{
        width: 100%;
    }
    .hero img{
        left: 10%;
        z-index: -1;
    }
}