.location{
    padding: 20px 5%; 
    background: radial-gradient(circle, #d2e6f8 0%, #ffffff 100%) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.locationDetails{
    padding: 40px;
}
.locationDetails h2{
    font-size: 50px;
    font-weight: bold;
}
.locationDetails p{
    color: rgb(71, 71, 71);
}
@media (max-width: 500px){
    .location{
        gap: 20px;
    }
    .locationDetails{
        width: 100% !important;
        padding: 0px;
    }
    .locationDetails h2{
        width: 100%;
    }
    .locationDetails h2{
        width: 100%;
    }
    .loc-map{
        width: 100% !important;
    }
}