.Blog{
    padding: 20px 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(circle, #d2e6f8 0%, #ffffff 100%) !important;
    display: flex;
    justify-content: space-between;
}
.blogImg{
    position: relative;
}
.blogImg img{
    transition: .3s;
}
.blogImg img:hover{
    transform: scale(.95);
}
.blogImg h5{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    padding: 20px;
    background-color: black;
    color: white;
    border: 1px solid greenyellow;
}
.blogDetails{
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.blogDetails h2{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    background-color: white;
    margin-left: -50px;
    border-radius: 5px;
}
.blogDetails p{
    color: rgb(78, 78, 78);
}
.blogDetails .line{
    width: 100%;
    height: 2px;
    background-color: black;
}
.blogDetails ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
@media (max-width: 500px){
    .Blog{
        flex-direction: column;
    }
    .blogImg img{
        width: 100%;
    }
    .blogDetails h2{
        margin-left: 0;
    }
    .blogDetails{
        width: 100%;
        padding: 0;
        padding-top: 20px;
    }
}